<div id="<%= dom_id episode %>">
  <p>
    <strong>Title:</strong>
    <%= episode.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= episode.description %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= episode.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= episode.end_time %>
  </p>

</div>
